body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(52, 49, 49);
}

.contenedor-header{
    display: flex;
}

.titulo{
    font-size: 5rem;
    margin-top: 5px;
}

.menubar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.lista{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 1.3rem;
}

.contenedor-contacto{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}
.titulo-contacto{
    font-size: 5rem;
    margin: 2px;
    text-align: center;
}
  form {
    width: 50%;
    padding: 25px;
    margin-top: 5px;
    border-radius: 0px;
    background-color: rgb(91, 87, 87);
  }

  label {
    margin-top: 10px;
    font-weight: bold;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-left: -10px;
    margin-bottom: 15px;
    border-radius: 0;
    border: 1px solid #ccc;
    background-color: #ccc;
  }

  .button-form {
    margin-top: 15px;
    padding: 10px 20px;
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .info-contacto{
    margin-top: 20px;
  }