@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=BBH+Sans+Bogle&family=BBH+Sans+Hegarty&display=swap');
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(247, 242, 242);
}

header{
    position: fixed;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    gap: 10px;
    z-index: 1000;
    width: 100%;
}

.titulo{
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem ;
    margin-left: 20px;
}

.titulo .resaltado{
    color: #FFD700;
}

.menubar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-left: 50px;
}

.lista{
    display: flex;
    color: rgb(255, 255, 255);
    list-style: none;
    gap: 40px;
    font-size: 1.3rem;
    font-family: "BBH Sans Bogle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lista a {
    text-decoration: none;
    color: white;
}

.imagen-promo{
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}

.section-articulos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px;
}

.titulo-product {
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: #131312;
    text-align: center;
    margin-bottom: 50px;
    }
.contenedor-articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(52, 49, 49);
    padding: 15px;
    width: 250px;
}
.contenedor-articulo img{
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
}

.art-precio{
    font-size: 16px;
    color: rgb(9, 249, 249);
    margin-top: 10px;
    font-weight: bold;
}

.art-nombre{
    font-size: 14px;
    margin: 5px 0;
}
.art-boton{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 13px 35px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.section-reseñas-grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-items: center;
    justify-content: center;
}
.titulo-reseñas{
    grid-column: 1/4;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: #131312;
    text-align: center;
    margin-bottom: 50px;
}
.contenedor-reseña{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    background-color: rgb(74, 75, 77);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgb(0, 0, 0,0.5);
    margin-bottom: 50px;
}
.imagen-reseña{
    border-radius: 50%;
    margin-bottom: 10px;
}
.name-reseña{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 10px 0 5px 0;
    font-size: 1.5rem;
    color: white;
}

.descripcion-reseña{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    text-align: center;
    color: white;
}

footer{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: stretch;
    margin: 20px;
}

@media (max-width: 768px) {

    header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

    .titulo {
    font-size: 2rem;
    margin: 0;
}

    .menubar {
    margin-left: 0;
}

    .lista {
    gap: 20px;
    font-size: 1.1rem;
}
  .imagen-promo {
    height: 220px;
  }

  .section-articulos {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
.titulo-product {
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #131312;
    text-align: center;
    margin-bottom: 50px;
    }
  .contenedor-articulo {
    width: 70%;
  }

  .section-reseñas-grid {
    grid-template-columns: 90%;
    justify-content: center;
  }

  .titulo-reseñas {
    font-size: 2.3rem;
    grid-column: 1 / 2;
  }

  .contenedor-reseña {
    width: 90%;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }

  footer div {
    margin-bottom: 15px;
  }
}

#contador-carrito {
    font-weight: bold;
    color: #ff1100;
}